/* Main */
* {
    box-sizing: border-box
}

body {
    margin: 0;
    background-color: white;
}

div {
    column-gap: 60px;
}

h3, h4 {
    text-align: center;
    color: #59981A
}

.column {
    float: left;
    padding: 10px;
}

.left{
    width: 40%;
}

.right {
    width: 60%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.text {
    text-align: center;
    font-size: 20px;
    color: #050606;
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 320px;
    height: 200px;
    left: 68px;
    border: 1px solid white;
    margin: 0 auto;
    
}

textarea {  
    position: relative;
    border: none;
    resize: vertical;
    width: 300px; 
    height: 150px; 
    overflow: auto;
    border: 1px solid #050606;
} 

button {
    position: relative;
    bottom: -10px;
    right: 0px;
    width: 70px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20px;
    margin: 0 auto;
    background-color: white;
    color: #050606;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

/* Subpages */
.content {
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
}

.text-subpage {
    text-align: left;
    color: #050606;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* Navigation */
.topnav {
    overflow: hidden;
    background-color: #203709;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #406D12;
    color: white;
}

.topnav a.active {
    background-color: #538E18;
    color: white;
}

.topnav a:visited {
    color: white;
}

/* Slideshow */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 300px;
    font-family: 'Roboto', sans-serif;
}

/* Images in text */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Links */
/* unvisited link */
a:link {
    color: #59981A;
}
/* visited link */
a:visited {
    color: #406D12;
    }
/* mouse over link */
a:hover {
    color: #71C121;
}

#LogoJpg {
    border: 5px solid black;
    width: 300px;
    height: auto;
}